:root {
    --inter-font: 'Inter', sans-serif;
    --primary-color: #0D6EFD;
    --secondary-color: #6C757D;
    --detail-color: #343A40;
    --line-color: #7749F8;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--inter-font);
}

.container {
    width: 100%;
    margin: auto;
    max-width: 360px;
    /* background-color: green; */
}

.ihouse {
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 23px;
    padding: 16px 142px 20px 139px;
    color: white;
}

.description-title {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin: 32px 12px;
    letter-spacing: -0.02em;
}

.description-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--secondary-color);
    text-align: left;
    margin: 0 12px 24px 10px;
    padding: 0 24px;
    border-left: 2px solid var(--line-color);
}

.frames {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.frame-number {
    text-align: center;
}

.number {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;

}

.plus {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: var(--primary-color)
}

.frame-txt {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: var(--secondary-color);

}

.description-img {
    width: 100%;
    margin-bottom: 64px;
}

.sale {
    padding: 0 12px;
}

.sale-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    margin-bottom: 24px;
}

.sale-txt {
    padding: 27px 15px 0 14px;
}

.sale-info {
    display: flex;
}

.sale-tag {
    /* top: 0.5px
    left: 1px */
    padding: 4px 7px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0em;
    direction: rtl;
    color: white;
    margin: 0 18px 54px 94px;
    width: 60px;
    padding: 4px 7px
}

.sale-house-name {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    margin-bottom: 19.5px;

}

.sale-info-txt {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: var(--secondary-color);
    padding-right: 2px
}

.sale-price {
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    color: var(--primary-color);

}

.sale-details {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background-color: var(--detail-color);
    color: white;
    direction: rtl;

}