:root {
    --inter-font: 'Inter', sans-serif;
    --primary-color: #0D6EFD;
    --secondary-color: #6C757D;
    --detail-color: #343A40;
    --line-color: #7749F8;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--inter-font);

}

.container {
    width: 100%;
    margin: auto;
    max-width: 360px;
    /* background-color: green; */
}

@media (min-width:768px) {
    .container {
        max-width: 834px
    }
}

.row {
    display: flex;
}

.ihouse {
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 23px;
    padding: 16px 142px 20px 139px;
    color: white;
    text-align: center;
}

.description-title {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin: 32px 12px;
    letter-spacing: -0.02em;
}

.description-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--secondary-color);
    text-align: left;
    margin: 0 12px 24px 10px;
    padding: 0 24px;
    border-left: 2px solid var(--line-color);
}

.frames {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.frame-number {
    text-align: center;
}

.number {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;

}

.plus {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: var(--primary-color)
}

.frame-txt {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: var(--secondary-color);

}

.description-img {
    width: 100%;
    margin-bottom: 64px;
}

.sale {
    padding: 0 12px;
}

.sale-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    margin-bottom: 24px;
}

.sale-info {
    display: flex;
    border-radius: 4px;
    border: 1px solid #DEE2E6
}

.sale-txt {
    padding: 27px 15px 0 14px;
    flex-grow: 1;
}

.sale-img {
    flex-grow: 1;
}

.sale-tag {
    border-radius: 2px;
    background-color: var(--secondary-color);
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    color: white;
    margin: 0 17.5px 54px 94px;
    padding: 4px 7px;
    text-align: center;
}

.sale-house-name {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    margin-bottom: 19.5px;

}

.sale-info-txt {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: var(--secondary-color);
    padding-right: 2px;
    margin-bottom: 17.8px;
}

.sale-price {
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    color: var(--primary-color);

}

.sale-details {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background-color: var(--detail-color);
    color: white;
    padding: 10px 16px;
    border-radius: 4px;
    margin: 10px 0 18px 80px;
    text-align: center;
}

.sale-more {
    color: white;
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin: 24px 80px 64px 97px;
    padding: 10px 16px;
    border-radius: 4px;

}

.rent {
    padding: 0 12px
}

.rent-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    margin-bottom: 24px;

}

.rent-info {
    border-radius: 4px;
    border: 1px solid #DEE2E6
}

.rent-img {
    width: 100%;
    /* object-fit: contain; */
}

.rent-tag {
    border-radius: 2px;
    background-color: var(--secondary-color);
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    color: white;
    margin: 24px 255px 10px 23px;
    width: 60px;
    padding: 4px 7px
}

.rent-house-name {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    padding-right: 12px;
    padding-left: 23px
}

.rent-info-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-color);
    padding: 0 12px 24px 23px;
}

.rent-row {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    padding-left: 23px;
}

.rent-price {
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    color: var(--primary-color);
}

.link {
    text-decoration: none;
    color: white;
}

.rent-details {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background-color: var(--detail-color);
    padding: 10px 16px;
    border-radius: 4px;
    margin-right: 16px;
    text-align: center;
    margin-bottom: 57px;



}

.rent-more {
    background-color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 96px;
    padding: 10px 16px;
    border-radius: 4px;

}

footer {
    background-color: var(--primary-color);
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    color: white;


}